# User-specific files
*.suo
*.user

# Intellisense cache files
*.sdf
*.opensdf

# Build results
Debug/
Release/
x64/

# Python Distribution / packaging
build/
dist/
*.egg-info/
*.egg
# other files
*~
