# User-specific files
*.suo
*.user

# Intellisense cache files
*.sdf
*.opensdf

# Build results
Debug/
Release/
x64/

# Python Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
# other files
*~
